<header>
  <button>+</button>
</header>
{{#unless isHidden}}
  <form class="create">
    <input class="create-url" type="text" placeholder="URL">
    <input class="create-caption" type="text" placeholder="caption">
    <input type="submit" value="Create">
  </form>
{{/unless}}
